!!! 5
html(lang="en")
  head
    title Sports Book
    link(rel='stylesheet',href='/styles/styles.css')
    link(rel='stylesheet',href='/styles/bootstrap.min.css')

  body
    #wrap
      include partials/navigation
      .container
        block content
    
        block scripts
