!!! 5
html(lang="en")
  head
    title Social Network
    link(rel='stylesheet',href='/styles/styles.css')
    link(rel='stylesheet',href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    script(src='https://netdna.bootstrapcdn.com/boostrap/3.1.0/js/bootstrap.min.js')      
  body
    block content
    
    block scripts
