<div> 
  <ul id="betDetails"/> 
    <li>Author: <%= model.authorName %> </li> 
    <li>Counterparty: <%= model.counterpartyName %> </li>
    <li>Bet description: <%= model.betDescription %> </li>
    <li>Reference index: <%= model.referenceIndex %> </li>
    <li>Termination events: <%= model.terminationEvent %> </li> 
   
    <% if ( model.counterpartyAccept ) { %> 
      <li>Bet accepted by counterparty</li>
      <% } else if ( model.counterpartyAccept === false ) { %> 
      <li>Bet rejected by counterparty</li> 
    <% } %>    
  
    <% if ( model.authorTeAccept ) { %> 
      <li>Termination Event accepted by author</li>
      <% } else if ( model.counterpartyAccept === false ) { %> 
      <li>Termination Event rejected by author</li> 
    <% } %>    
 

    <% if ( model.counterpartyTeAccept ) { %> 
      <li>Termination Event accepted by counterparty</li>
      <% } else if ( model.counterpartyTeAccept === false ) { %> 
      <li>Termination Event rejected by counterparty</li> 
    <% } %>    
 

    <% if ( model.authorValidation ) { %> 
      <li>Winner accepted by author</li>
      <% } else if ( model.authorValidation === false ) { %> 
      <li>Winner rejected by author</li> 
    <% } %>    
 
    <% if ( model.counterpartyValidation ) { %> 
      <li>Winner accepted by counterparty</li>
      <% } else if ( model.counterpartyValidation === false ) { %> 
      <li>Winner rejected by counterparty</li> 
    <% } %>    


    <% if ( model.winner ) { %> 
    <li>Winner: <%= model.winner %> </li> 
    <% } else { %> 
    <li>Winner: Pending </li> 
    <% } %> 


  </ul>

  <div class="actionArea"> 
  </div> 
 
  <div> 
    <% if ( acceptButton ) { %> 
      <p><button class="acceptButton">Accept Bet</p> 
    <% } %> 
    
    <% if ( rejectButton ) { %> 
      <p><button class="rejectButton">Reject Bet</p> 
    <% } %>
    
    <% if ( acceptTeButton ) { %> 
      <p><button class="acceptTeButton">Cancel Bet due to Termination Event</p> 
    <% } %>
    
    <% if ( rejectTeButton ) { %> 
      <p><button class="rejectTebutton">Reject Termination Event Cancellation</p> 
    <% } %>
    
    <% if ( declareWinnerButton ) { %> 
	<select> 
	  <option> <% model.authorName %> </option> 
	  <option> <% model.counterpartyName %> </option> 
	</select> 
    <% } %> 

    <% if ( acceptWinnerButton ) { %> 	
	<p><button class="acceptWinnerButton">Accept Winner</p> 
    <% } %>

  </div> 

</div> 
