<div class="row"> 
  <table class="table table-striped"> 

    <thead> 
      <tr> 
	<th>Description</th> 
	<th>Value</th> 
      <tr> 
    </thead> 

    <tbody> 
      <tr>
	<td>Author</td>
	<td><%= model.authorName %></td> 
      </tr> 

      <tr>
	<td>Counterparty</td>
	<td><%= model.counterpartyName %> 
	
	<% if ( acceptButton ) { %> 
	    <a href="#" id="acceptLink"><small>Accept Bet</small></a>
	<% } %> 

	
            
	<% if ( rejectButton ) { %> 
	    <a href="#" id="rejectLink"><small>Reject Bet</small></button> 
	<% } %>
	</td>
      </tr> 

      <tr>
	<td>Description</td>
	<td><%= model.betDescription %></td> 
      </tr> 

      <tr> 
	<td>Reference index</td> 
	<td><%= model.referenceIndex %></td> 
      </tr>

      <tr> 
	<td>Termination Events ("TE")</td> 
	<td><%= model.terminationEvent %>
	  <% if ( acceptTeButton ) { %> 
	    <a href="#" id="acceptTeLink"><small>Cancel for TE</small></button>
          <% } %>
	
	  <% if ( rejectTeButton ) { %> 
	      <a href="#" id="rejectTeLink"><small>Reject TE Cancellation</small></button>
	  <% } %>
	</td>
       </tr> 

    <% if ( model.counterpartyAccept ) { %> 
      <tr> 
	<td>Bet accepted by counterparty</td>
	<td>True</td> 
      </tr> 
      <% } else if ( model.counterpartyAccept === false ) { %> 
      <tr>
	<td>Bet rejected by counterparty</td>
	<td>True</td> 
      </tr>
    <% } %>    
  
    <% if ( model.authorTeAccept ) { %>
      <tr> 
	<td>Termination Event accepted by author</td>
	<td>True</td> 
      </tr> 
      <% } else if ( model.counterpartyAccept === false ) { %> 
      <tr> 
	<td>Termination Event rejected by author</td>
	<td>True</td> 
      </tr>
    <% } %>    
 

    <% if ( model.counterpartyTeAccept ) { %>
      <tr>
        <td>Termination Event accepted by counterparty</td>
	<td>True</td> 
      </tr> 
      <% } else if ( model.counterpartyTeAccept === false ) { %> 
      <tr> 
	<td>Termination Event rejected by counterparty</td>
	<td>True</td> 
      </tr> 
    <% } %>    
 

    <% if ( model.authorValidation ) { %> 
    <tr>
      <td>Winner accepted by author</td>
      <td>True</td>
    </tr>
    <% } else if ( model.authorValidation === false ) { %> 
    <tr> 
      <td>Winner rejected by author</td>
      <td>True</td> 
    </tr> 
   <% } %>    
 
    <% if ( model.counterpartyValidation ) { %>
    <tr> 
      <td>Winner accepted by counterparty</td>
      <td>True</td>
    </tr>
    <% } else if ( model.counterpartyValidation === false ) { %> 
    <tr>
      <td>Winner rejected by counterparty</td>
      <td>True</td>
    </tr> 
    <% } %>    


    <!-- If we already have a winner -->

    <% if ( model.winner ) { %>
    <%   var winnerName;     %> 
    <%   winnerName = model.winner === model.authorId ? model.authorName : model.counterpartyName; %> 
      
      <tr> 
        <td>Winner</td>
        <td><%= winnerName %></td>  
      </tr> 
     
    
    <% } else { %>    
      <tr>
        <td>Winner</td>
        <td>Pending</td> 
      </tr> 
    <% } %> 

    <% if ( declareWinnerButton ) { %> 
      <tr>
	<td>
	  <select class="declareWinnerDropdown">
	    <option value="" disabled="disabled" selected="selected">Declare Winner</option> 
	    <option><%= model.authorName %></option> 
	    <option><%= model.counterpartyName %></option> 
	  </select>
        </td> 
     </tr>
    <% } %>
    

    <% if ( acceptWinnerButton && rejectWinnerButton) { %> 
    <tr> 
      <td> 
       <a href="#" id="acceptWinnerLink"><small>Accept Winner</small></button>
       <a href="#" id="rejectWinnerLink"><small>Reject Winner</small></button>
      </td> 
    </tr>
    <% } %>
    

  </tbody> 
</div> 	

