<table class="table striped">
  <thead>
    <tr>
      <th>Username</th><th>Account Balance</th><th>Winning Percentage</th><th></th>
    </tr>
  </thead>
  
  <tbody>

     <% _.each(handicappers, function( handicapper ) { %>
	

     <tr> 
	<td><%= handicapper.get('username') %></td>
        <td><%= handicapper.get('accountBal') %></td>
        <td><%= handicapper.get('winningPercentage') %></td>
        <td><a class="btn" href="#accounts/<%= handicapper.get('_id') %>">Full Player Profile</a></td>
     </tr>
    <% }); %>
  </tbody>
</table>
