<table class="table striped">
  <thead>
    <tr>
      <th>Username</th><th>Account Balance</th><th>Winning Percentage</th><th></th>
    </tr>
  </thead>
  
  <tbody>

     <% _.each(handicappers, function( handicapper ) { %>
     <%     var accountBal, winPercent, formatedBal, formatedWinPercent;            %> 
     <%     accountBal = String(handicapper.get('accountBal'));                     %>
     <%     winPercent = String(100*handicapper.get('winningPercentage'));          %> 
     <%     formatedWinPercent = winPercent + "%";                                  %>     
     

     <tr> 


	<td><%= handicapper.get('username') %></td>
        <td><%= handicapper.get('accountBal') %></td>
        <td><%= formatedWinPercent %></td>
        <td><a class="btn" href="#accounts/<%= handicapper.get('_id') %>">Full Player Profile</a></td>
     </tr>
    <% }); %>
  </tbody>
</table>
