<table class="table striped">
  <thead>
    <tr>
      <th>Username</th><th>Account Balance</th><th>Winning Percentage</th><th></th>
    </tr>
  </thead>
  
  <tbody>

     <% _.each(handicappers, function( handicapper ) { %>
	
<!--	<td>Content</td>
        <td>Should</td>
        <td>Be</td>
        <td><a class="btn" href="#/account">Full Player Profile</a></td>
-->


	<td><%= handicapper.get('username') %></td>
        <td><%= handicapper.get('accountBal') %></td>
        <td><%= handicapper.get('winningPercentage') %></td>
        <td><a class="btn" href="#/account/<%= handicapper.id %>">Full Player Profile</a></td>
    <% }); %>
  </tbody>
</table>
