<h1>Login</h1>

<form>
<div class="form-group">

	    
  <fieldset>
    <legend>Credentials</legend>

    <p class="error" id="error"></p>

    <label >
      Email:
      <input class="form-control" type="text" name="email">
    </label>

    <br />

    <label>
      Password:
      <input class="form-control" type="password" name="password">
    </label>

    <br />

    <input type="submit" value="Login Now">
  </fieldset>

  </div>
</form>

<ul>
  <li><a href="#forgotpassword">Forgot Password?</a></li>
  <li><a href="#register">Sign Up</a></li>
</ul>
