<h1>Place Bet</h1>

<form>
<fieldset>
<legend>Bet details</legend>
  <label>
    Counterparty username:
    <input type="text" name="counterparty" />
  </label>

  <label>
    Bet Description:
    <input type="text" name="betDescription" />
  </label>

  <label>
    Reference index (include a clearly defined reference index that can be use to settle disputes):
    <input type="text" name="referenceIndex" />
  </label>

  <label>
    Termination Events (include a comma separated list of events that terminate the bet with no winner. E.g. player injury):
    <input type="text" name="terminationEvent" />
  </label>

</fieldset>

<fieldset>

  <legend>Bet Amounts($)</legend>

  <label>
    Amount you win:
    <input type="text" name="authorBet" />
  </label>

  <br />

  <label>
    Amount you lose:
    <input type="text" name="counterpartyBet" />
  </label>
</fieldset>


<p>
  <input type="submit" value="Place Bet Now"/>
</p>
</form>
